@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* Set */
.btn-cs {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #086454;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 100%;
    font-size: 2rem;
    border: 0;
    z-index: 999;
}

.btn-cs:hover {
    color: #086454;
    background-color: white;
    border: 2px solid #086454;
}

.text-green-theme {
    color: #086454;
}

.img-items {
    width: 70%;
    height: 70%;
}

/* Home */
.bg {
    background-image: url(img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 1rem;
}

.navbar-nav {
    font-size: 1.1rem;
    gap: 0.6rem;
}

.nav-link {
    color: white;
}

.title {
    font-size: 3rem;
}

.group-title {
    margin-top: 5rem;
}

.btn-tell, .btn-catalog {
    background-color: #086454;
    color: white;
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    margin-top: 4rem;
}

.btn-tell:hover {
    border: 2px solid white;
    color: white;
}

.btn-catalog:hover {
    border: 2px solid black;
    color: black;
}

/* About  */
.container {
    padding: 2rem 0;
}

.column-about1, .column-about2 {
    margin: 2rem 0 0 0;
}

.title-about {
    font-size: 3rem;
    text-wrap: wrap;
}

/* Services */
section#services {
    background-color: #086454;
    padding: 2rem;
}

.service-icon {
    font-size: 3rem;
}

/* Products */
section#products {
    padding: 1rem;
}

/* Contact */
section#contact {
    background-image: url(img/Contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
}

textarea {
    height: 11rem;
}

.form-contact {
    height: 3rem;
}

.btn-send {
    border: 2px solid white;
    color: white;  
    padding: 0.8rem 5rem;
    font-size: 1.2rem;
    margin-top: 4rem; 
}

.btn-send:hover {
    border: 2px solid #7afaae;
    color: #7afaae;
}

/* Footer */
footer {
    background-color: #086454;
    padding: 2rem;
}

hr {
    border: 1px solid white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #7afaae;
}

.icons-footer {
    font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
    #mainNav {
        background-color: #086454 !important;
    }
    
    .navbar-collapse {
        background-color: #086454 !important;
        border-radius: 0.25rem !important; /* same as .rounded */
    }

}